<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista Empleados</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
<script src="https://code.angularjs.org/1.8.0/angular-route.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
	crossorigin="anonymous"></script>
<!-- link th:href="@{/css/main.css}" rel="stylesheet" / -->
<script th:src="@{/app.js}"></script>
<script th:src="@{/controller/indexcontroller.js}"></script>
<head>
<body ng-app="EmployeeManagement"
	ng-controller="EmployeeIndexController">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Spring Boot</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/reporte}">Generar Reporte Por
							Jefe</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1 class="text-success">Formulario Empleado</h1>
		<div class="col-sm-6"></div>
		<div class="col-sm-6"></div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<form ng-submit="submitEmployee()">
							<div class="form-group">
								<label class="col-sm-2 clo-form-label">Nombre</label>
								<div class="col-sm-12">
									<input id="nombre" type="text" ng-model="employeeForm.nombre"
										class="form-control" ng-disabled="false" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 clo-form-label">Apellido</label>
								<div class="col-sm-12">
									<input id="apellido" type="text"
										ng-model="employeeForm.apellido" class="form-control"
										ng-disabled="false" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 clo-form-label">Cargo</label>
								<div class="col-sm-12">
									<select id="cargo" ng-model="employeeForm.cargo"
										ng-options="opt as opt for opt in jobs" class="form-select"
										ng-disabled="false"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 clo-form-label">Jefe</label>
								<div class="col-sm-12">
									<input id="jefe" type="text" ng-model="employeeForm.jefe"
										class="form-control" ng-disabled="false" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 clo-form-label">Salario</label>
								<div class="col-sm-12">
									<input id="salario" type="number"
										ng-model="employeeForm.salario" class="form-control"
										ng-disabled="false" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-8 clo-form-label">Fecha de Ingreso</label>
								<div class="col-sm-12">
									<input id="fecha" type="date" ng-model="employeeForm.fecha"
										class="form-control" ng-disabled="false" />
								</div>
							</div>
							</br>
							<div class="form-group ">
								<div class="col-sm-12">
									<input type="submit" value="Guardar"
										class="btn btn-success btn-xs" /> <a
										class="btn btn-primary btn-xs" ng-click="clearEmployee()">Limpiar
										Campos</a>
								</div>

							</div>
						</form>
					</div>
					<div class="col-md-8">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Cargo</th>
									<th>Jefe</th>
									<th>Salario</th>
									<th>Fecha Ingreso</th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<!-- $scope.employees -->
							<tbody>
								<tr ng-repeat="employee in employees">
									<td>{{ employee.id }}</td>
									<td>{{ employee.nombre }}</td>
									<td>{{ employee.apellido }}</td>
									<td>{{ employee.cargo }}</td>
									<td>{{ employee.jefe }}</td>
									<td>{{ employee.salario }}</td>
									<td>{{ employee.fecha }}</td>
									<td><a ng-click="editEmployee(employee)"
										class="btn btn-primary btn-xs fa fa-pencil-square-o"></a></td>
									<td><a ng-click="deleteEmployee(employee)"
										class="btn btn-danger btn-xs fa fa-times"></a></td>
									<td><a ng-click="editSalaryEmployee(employee)"
										class="btn btn-success btn-xs fa fa-money"></a></td>
								</tr>
							</tbody>
						</table>
						</td>

						</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
		integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
		crossorigin="anonymous"></script>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
		crossorigin="anonymous">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>
</html>